@model IEnumerable<RentingVehicles.Models.wishlistmodel>
@{
    ViewBag.Title = "Removeitem";
    Layout = "~/Views/Shared/MyLayout.cshtml";
}
<h2>@ViewBag.msg</h2>
<br />
@Html.ActionLink("Back to wishlist", "ViewMyWishlist", "User")


