
@{
    ViewBag.Title = "wishlistadded";
    Layout = "~/Views/Shared/MyLayout.cshtml";
}

<h2>@ViewBag.msg</h2>
<br/>
@Html.ActionLink("Back to Search Result","BackToSearchResult","User")

